<%- include("partials/header") -%>

<body>
    <div class="container shadow rounded">
      <h1>Home</h1>
      <p> <%= startingContent %>  </p>

      <% posts.forEach(function(post){ %>
        <h2> <%= post.title %> </h2>
        <p>
          <%= post.body.substring(0,99) + "..." %>
          <a href="/posts/<%= post.title %>">Read More</a>
        </p>
      <% }); %>
    </div>
</body>

<%- include("partials/footer") -%>
